.top-container {
    background-color: #e4f9f5;
    margin: 0;
    position: relative;
    padding-top: 100px;
}

.middle-container {
    
}

.bottom-container {
   
}

.profile-image {
    width: 200px;
    border-radius: 100%;
}
.UX-UI-Picture{
    width: 400px;
}

.pro {
    text-decoration: underline;
}

.bottom-cloud {
    position: absolute;
    left: 300px;
    bottom: 300px;
}

.top-cloud {
    position: absolute;
    right: 300px;
    top: 50px;
}

.programmer {
    font-weight: normal;
}

p {
    font-family: 'Merriweather', serif;
    margin-bottom: 0;
}

h1 {
    color: #66BFBF;
    font-size: 5.625rem;
    font-family: 'Sacramento', cursive;
    margin: 50px auto 0 auto;
}

h2 {
    color: #66BFBF;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
}

h3 {
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
}

a {
    color: #11999E;
}

body {
    text-align: center;
    margin: 0;
}